<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home.security</title>
    <link type="text/css" href="css/keypad.css" rel="stylesheet">
    <script src="vendor/angular.min.js"></script>
    <script src="controllers/keypad.js"></script>
</head>
<body ng-app="alarm">

<div ng-controller="KeypadController"  data-ng-init="init()" ng-show="loaded == true">
    <div id="armed" class="boxed" ng-show="secure == true && loaded == true">Armed</div>
    <div id="disarmed" class="boxed" ng-show="secure == false && loaded == true">Disarmed</div>
    <div id="alarmed" class="redBoxed" ng-show="alarmed == true">Alarmed</div>


    <table id="password" ><td>{{code[0]}}</td><td>{{code[1]}}</td><td>{{code[2]}}</td><td>{{code[3]}}</td></table>
    <form action="/" method="get">
        <button ng-click="armSystem();" type='button' class="boxed" ng-show="secure == false">
            Arm
        </button>
        <table id="keypad" cellpadding="5" cellspacing="3">
            <tr>
                <td ng-click="addCode('1');">1</td>
                <td ng-click="addCode('2');">2</td>
                <td ng-click="addCode('3');">3</td>
            </tr>
            <tr>
                <td ng-click="addCode('4');">4</td>
                <td ng-click="addCode('5');">5</td>
                <td ng-click="addCode('6');">6</td>
            </tr>
            <tr>
                <td ng-click="addCode('7');">7</td>
                <td ng-click="addCode('8');">8</td>
                <td ng-click="addCode('9');">9</td>
            </tr>
            <tr>
                <td ng-click="addCode('0');">0</td>
                <td ng-click="getStatus()">Refresh</td>
                <td ng-click="refresh()">Clear</td>
            </tr>
        </table>
        <p>Code: {{ message }}</p>

        <!--<input type="text" name="code" value="" maxlength="4" class="display" readonly="readonly"/>-->
        <p id="message"></p>
    </form>
</div>
</body>
</html>